<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *********************** dao interface 경로+이름 -->
<mapper namespace="com.example.dao.BookDAO">

    <!-- ******************************도서******************************** -->
    <!-- 도서리스트 -->
    <select id="bookList" resultType="Book">
        SELECT *
        FROM book
        ORDER BY bookname desc
        LIMIT 100;
    </select>

    <!-- 도서상세정보 --> 
    <select id="bookDetail" resultType="Book">
        SELECT *
        FROM book
        WHERE book_isbn13=#{bookIsbn13}
    </select>

    <!-- 도서정보수정 -->
    <update id="updateBook" parameterType="Book">
        UPDATE book
        SET vol=#{vol}
        WHERE NO=#{no}
    </update>

    <!-- 도서정보삭제 -->
    <delete id="deleteBook" parameterType="Book">
        DELETE FROM book
        WHERE NO=#{no}
    </delete>

    <!-- 도서 인기순위 -->
    <select id="bookRank" resultType="hashmap">
        SELECT
        b.bookname,
        COUNT(c.recommanded_book1) AS recommanded_book1_count
        FROM
        chat_data c
        JOIN
        book b ON c.recommanded_book1 = b.book_isbn13
        WHERE
        b.bookname NOT LIKE '%:%' AND
        b.bookname NOT LIKE '%=%' AND
        b.bookname NOT LIKE '%,%'
        GROUP BY
        b.bookname
        HAVING
        COUNT(c.recommanded_book1) > 1
        ORDER BY
        recommanded_book1_count DESC
        LIMIT 5;
    </select>

</mapper>
