<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *********************** dao interface 경로+이름 -->
<mapper namespace="com.example.dao.ComplainDAO">

    <!-- ****************************** 컴플레인 ******************************** -->
    <!-- 컴플레인 신고 전체 리스트 -->
    <select id="complainList" resultType="Complain">
        SELECT *
        FROM complain
        ORDER BY complain_id DESC
    </select>

    <!-- 컴플레인 상세정보 -->
    <select id="complainDetail" resultType="Complain">
        SELECT *
        FROM complain
        WHERE complain_id=#{complainId}
    </select>

    <!-- 컴플레인 정보수정 -->
    <update id="updateComplain" parameterType="Complain">
        UPDATE complain
        SET complain_done=#{complainDone}, complain_reply=#{complainReply}
        WHERE complain_id=#{complainId}
    </update>

</mapper>
