<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *********************** dao interface 경로+이름 -->
<mapper namespace="com.example.dao.RecordDAO">

	<!-- ****************************** 독서기록 ******************************** -->
	<!-- 독서기록 전체리스트 -->
	<select id="recordList" resultType="RecordDTO">
		SELECT *
		FROM record
		ORDER BY record_book_num desc
		LIMIT 100;
	</select>

	<!-- 독서기록 상세정보 -->
	<select id="recordDetail" resultType="RecordDTO">
		SELECT *
		FROM record
		WHERE record_book_num=#{recordBookNum}
	</select>

	<!-- 독서기록 정보삭제 -->
	<delete id="deleteRecord" parameterType="RecordDTO">
		DELETE 
		FROM record
		WHERE record_book_num=#{recordBookNum}
	</delete>

</mapper>
