<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *********************** dao interface 경로+이름 -->
<mapper namespace="com.example.dao.UserDAO">

	<!-- ******************************회원******************************** -->
	<!-- 회원리스트 -->
	<select id="memberList" resultType="User">
		SELECT *
		FROM user
		ORDER BY member_id DESC
	</select>

	<!-- 회원상세정보 -->
	<select id="memberDetail" resultType="User">
		SELECT *
		FROM user
		WHERE member_id=#{memberId}
	</select>

	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="User">
		UPDATE user
		SET member_grade=#{memberGrade}
		WHERE member_id=#{memberId}
	</update>

	<!-- 회원정보삭제 -->
	<delete id="deleteMember" parameterType="User">
		DELETE FROM user
		WHERE member_id=#{memberId}
	</delete>

	<!-- 관리자 회원 ID 목록 -->
    <select id="getAdminMemberIds" resultType="String">
        SELECT member_id 
		FROM user
		WHERE member_grade = 'admin';
    </select>

</mapper>
