<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *********************** dao interface 경로+이름 -->
<mapper namespace="com.example.dao.UserDAO">

	<!-- ******************************회원******************************** -->
	<!-- 회원리스트 -->
	<select id="memberList" resultType="User">
		SELECT *
		FROM user
		ORDER BY member_id DESC
	</select>

	<!-- 회원상세정보 -->
	<select id="memberDetail" resultType="User">
		SELECT *
		FROM user
		WHERE member_id=#{memberId}
	</select>

	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="User">
		UPDATE user
		SET member_grade=#{memberGrade}
		WHERE member_id=#{memberId}
	</update>

	<!-- 회원정보삭제 -->
	<delete id="deleteMember" parameterType="User">
		DELETE FROM user
		WHERE member_id=#{memberId}
	</delete>

	<!-- 관리자 회원 ID 목록 -->
    <select id="getAdminMemberIds" resultType="String">
        SELECT member_id 
		FROM user
		WHERE member_grade = 'admin';
    </select>

	<!-- 연령대 분석 -->
	<select id="getAge" resultType="hashmap">
		SELECT
			age_group,
			COUNT(*) as count
		FROM (
  			SELECT
				member_birthday,
				CASE
				WHEN FLOOR(DATEDIFF(CURDATE(), member_birthday) / 365) BETWEEN 0 AND 19 THEN '10대 이하'
				WHEN FLOOR(DATEDIFF(CURDATE(), member_birthday) / 365) BETWEEN 20 AND 29 THEN '20대'
				WHEN FLOOR(DATEDIFF(CURDATE(), member_birthday) / 365) BETWEEN 30 AND 39 THEN '30대'
				WHEN FLOOR(DATEDIFF(CURDATE(), member_birthday) / 365) BETWEEN 40 AND 49 THEN '40대'
				WHEN FLOOR(DATEDIFF(CURDATE(), member_birthday) / 365) BETWEEN 50 AND 59 THEN '50대'
				ELSE '60대 이상'
    			END AS age_group
  			FROM user
		) AS age_groups
		GROUP BY age_group;
	</select>

	<!-- 신규 가입자 수 -->
	<select id="newUser" resultType="Integer"> 
		SELECT COUNT(*)
		FROM user
		WHERE DATE(join_date) = CURDATE();
	</select>

</mapper>
