<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *********************** dao interface 경로+이름 -->
<mapper namespace="com.example.dao.AdminDAO">

	<!-- ******************************회원******************************** -->
	<!-- 회원리스트 -->
	<select id="memberList" resultType="AdminVO">
		SELECT *
		FROM member
		ORDER BY member_id DESC
	</select>

	<!-- 회원상세정보 -->
	<select id="memberDetail" resultType="AdminVO">
		SELECT *
		FROM member
		WHERE member_id=#{member_id}
	</select>

	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="AdminVO">
		UPDATE member
		SET member_grade=#{member_grade}
		WHERE member_id=#{member_id}
	</update>

	<!-- 회원정보삭제 -->
	<delete id="deleteMember" parameterType="AdminVO">
		DELETE FROM member
		WHERE member_id=#{member_id}
	</delete>

	<!-- ******************************도서******************************** -->
	<!-- 도서리스트 -->
	<select id="bookList" resultType="AdminVO">
		SELECT *
		FROM book
		ORDER BY NO DESC
	</select>

	<!-- 도서상세정보 -->
	<select id="bookDetail" resultType="AdminVO">
		SELECT *
		FROM book
		WHERE NO=#{NO}
	</select>

	<!-- 도서정보수정 -->
	<update id="updateBook" parameterType="AdminVO">
		UPDATE book
		SET vol=#{vol}
		WHERE NO=#{NO}
	</update>

	<!-- 도서정보삭제 -->
	<delete id="deleteBook" parameterType="AdminVO">
		DELETE FROM book
		WHERE NO=#{NO}
	</delete>

	<!-- ******************************커뮤니티******************************** -->
	<!-- 커뮤니티 신고 전체 리스트 -->
	<select id="communityList" resultType="AdminVO">
		SELECT *
		FROM complain
		ORDER BY complain_id DESC
	</select>

	<!-- 커뮤니티 상세정보 -->
	<select id="communityDetail" resultType="AdminVO">
		SELECT *
		FROM complain
		WHERE complain_id=#{complain_id}
	</select>

	<!-- 커뮤니티정보수정 -->
	<update id="updateCommunity" parameterType="AdminVO">
		UPDATE complain
		SET complain_done=#{complain_done}
		WHERE complain_id=#{complain_id}
	</update>

	<!-- ******************************공지사항******************************** -->
	<!-- 공지사항 전체 리스트 -->
	<select id="noticeList" resultType="AdminVO">
		SELECT *
		FROM notice
		WHERE notice_type = 'notice'
		ORDER BY notice_date DESC
	</select>

	<!-- 공지사항 상세정보 -->
	<select id="noticeDetail" resultType="AdminVO">
		SELECT *
		FROM notice
		WHERE notice_number=#{notice_number} AND notice_type = 'notice'
	</select>

	<!-- 공지사항 정보수정 -->
	<update id="updateNotice" parameterType="AdminVO">
		UPDATE notice
		SET notice_title=#{notice_title}, notice_content=#{notice_content}
		WHERE notice_number=#{notice_number} AND notice_type = 'notice'
	</update>

	<!-- ******************************FAQ******************************** -->
	<!-- FAQ 전체 리스트 -->
	<select id="faqList" resultType="AdminVO">
		SELECT *
		FROM notice
		<!-- WHERE notice_type=#{notice_type}  -->
		ORDER BY notice_date DESC
	</select>

	<!-- FAQ 상세정보 -->
	<select id="faqDetail" resultType="AdminVO">
		SELECT *
		FROM notice
		WHERE notice_number=#{notice_number}
	</select>

	<!-- FAQ 정보수정 -->
	<update id="updateFaq" parameterType="AdminVO">
		UPDATE notice
		SET notice_title=#{notice_title}, notice_content=#{notice_content}
		WHERE notice_number=#{notice_number}
	</update>
	

	<!-- <select id="getBoard" resultType="BoardVO">
		SELECT *
		FROM BOARD
		WHERE SEQ=#{seq}
	</select>
	
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO BOARD (title, writer, content, regdate, cnt) VALUES (#{title}, #{writer}, #{content}, now(), 0)
	</insert>
	 -->

</mapper>
