<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *********************** dao interface 경로+이름 -->
<mapper namespace="com.example.dao.AskDAO">

	<!-- ****************************** 문의 ******************************** -->
	<!-- 문의 전체 리스트 -->
	<select id="askList" resultType="Ask">
		SELECT *
		FROM ask
		ORDER BY ask_id DESC
	</select>

	<!-- 미완료 답변 문의 리스트 -->
	<select id="getUnansweredList" resultType="Ask">
		SELECT *
		FROM ask
		WHERE ask_reply_done = "no"
	</select>

	<!-- 완료 답변 문의 리스트 -->
	<select id="getAnsweredList" resultType="Ask">
		SELECT *
		FROM ask
		WHERE ask_reply_done = "yes"
	</select>

	<!-- 문의 상세정보 -->
	<select id="askDetail" resultType="Ask">
		SELECT *
		FROM ask
		WHERE ask_id=#{ask_id}
	</select>

	<!-- 문의 정보수정 -->
	<update id="updateAsk" parameterType="Ask">
		UPDATE ask
		SET ask_content=#{ask_content}, ask_reply_time=now(), ask_reply_content=#{ask_reply_content}
		, ask_reply_admin=#{ask_reply_admin}, ask_reply_done=#{ask_reply_done}
		WHERE ask_id=#{ask_id}
	</update>

	<!-- 문의 정보삭제 -->
	<delete id="deleteAsk" parameterType="Ask">
		DELETE FROM ask
		WHERE ask_id=#{ask_id}
	</delete>

	<!-- 문의 등록 -->
	<!-- <insert id="insertFaq" parameterType="AdminVO">
		INSERT INTO ask (ask_title, ask_content, ask_reply_time, notice_display, member_id) VALUES (#{notice_type}, #{notice_title}, #{notice_content}, now(), 1, #{member_id})
	</insert> -->

</mapper>
