<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *********************** dao interface 경로+이름 -->
<mapper namespace="com.example.dao.UserDAO">

	<!-- ******************************회원******************************** -->
	<!-- 회원리스트 -->
	<select id="memberList" resultType="AdminUser">
		SELECT *
		FROM user
		ORDER BY member_id DESC
	</select>

	<!-- 회원상세정보 -->
	<select id="memberDetail" resultType="AdminUser">
		SELECT *
		FROM user
		WHERE member_id=#{member_id}
	</select>

	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="AdminUser">
		UPDATE user
		SET member_grade=#{member_grade}
		WHERE member_id=#{member_id}
	</update>

	<!-- 회원정보삭제 -->
	<delete id="deleteMember" parameterType="AdminUser">
		DELETE FROM user
		WHERE member_id=#{member_id}
	</delete>

</mapper>
