<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ***************************** dao interface 경로+이름 -->
<mapper namespace="com.example.userdao.UserBookDAO">

    <!-- *** SELECT *********************************************************** -->
	<select id="selectByTitle"
			resultType="hashmap">
		SELECT	*
		FROM	book
		WHERE	bookname LIKE '%${bookname}%'
	</select>
	
	<!-- 제목으로 도서 검색 LIMIT 10 -->
	<select id="selectByTitle10"
			resultType="hashmap">
		SELECT	*
		FROM	book
		WHERE	bookname LIKE '%${bookname}%'
		LIMIT	10
	</select>

    <!-- 특정 도서 정보 출력 -->
	<select id="selectByNum"
			parameterType="String"
			resultType="Book">
		SELECT	*
		FROM	book
		WHERE	book_isbn13=#{bookIsbn13}
	</select>

	<!-- 인기 도서 출력 -->
	<select id="selectHotbook"
			resultType="hashmap">
		SELECT	 *
		FROM	 book
		WHERE	 book_isbn13 IN ('9791161571188','9788903871149','9788936438838','9788956516714',
								 '9788985570329','9788986465631','9788986781137','9788995540077',
								 '9788901260716','9791164134267','9791165341909','9791197377143')
		ORDER BY ranking
	</select>

</mapper>