<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ***************************** dao interface 경로+이름 -->
<mapper namespace="com.example.userdao.UserChatDataDAO">

	<!-- *** SELECT *********************************************************** -->
	<!-- 한 명의 사용자가 작성한 모든 채팅 기록 출력 -->
	<select id="selectByUser"
			parameterType="String"
			resultType="hashmap">
		SELECT	 cd.chat_number			chatNumber
				 , cd.member_id			memberId
				 , cd.recommanded_book1	recommandedBook1
				 , cd.recommanded_book2	recommandedBook2
				 , cd.recommanded_book3	recommandedBook3
				 , cd.picked_book		pickedBook
				 , cd.emotion			emotion
				 , cd.chat_data_date	chatDataDate
				 , b.bookImageURL		bookImageURL
				 , b.bookname			bookname
				 , b.authors			authors
				 , b.publisher			publisher
				 , b.publication_year	publicationYear
				 , b1.bookImageURL		bookImageURL1
				 , b1.bookname			bookname1
				 , b1.authors			authors1
				 , b1.publisher			publisher1
				 , b1.publication_year	publicationYear1
				 , b2.bookImageURL		bookImageURL2
				 , b2.bookname			bookname2
				 , b2.authors			authors2
				 , b2.publisher			publisher2
				 , b2.publication_year	publicationYear2
				 , b3.bookImageURL		bookImageURL3
				 , b3.bookname			bookname3
				 , b3.authors			authors3
				 , b3.publisher			publisher3
				 , b3.publication_year	publicationYear3
		FROM	 chat_data cd
						INNER JOIN book b
				 ON cd.picked_book = b.book_isbn13
				 		INNER JOIN book b1
				 ON cd.recommanded_book1 = b1.book_isbn13
				 		INNER JOIN book b2
				 ON cd.recommanded_book2 = b2.book_isbn13
				 		INNER JOIN book b3
				 ON cd.recommanded_book3 = b3.book_isbn13
		WHERE	 cd.member_id=#{memberId}
		ORDER BY cd.chat_number DESC
	</select>
	
	<!-- 특정 채팅 기록 출력 -->
	<select id="selectByNum"
			parameterType="String"
			resultType="ChatData">
		SELECT	 cd.chat_number			chatNumber
				 , cd.member_id			memberId
				 , cd.recommanded_book1	recommandedBook1
				 , cd.recommanded_book2	recommandedBook2
				 , cd.recommanded_book3	recommandedBook3
				 , cd.picked_book		pickedBook
				 , cd.emotion			emotion
				 , cd.chat_data_date	chatDataDate
				 , b.bookImageURL		bookImageURL
				 , b.bookname			bookname
				 , b.authors			authors
				 , b.publisher			publisher
				 , b.publication_year	publicationYear
				 , b1.bookImageURL		bookImageURL1
				 , b1.bookname			bookname1
				 , b1.authors			authors1
				 , b1.publisher			publisher1
				 , b1.publication_year	publicationYear1
				 , b2.bookImageURL		bookImageURL2
				 , b2.bookname			bookname2
				 , b2.authors			authors2
				 , b2.publisher			publisher2
				 , b2.publication_year	publicationYear2
				 , b3.bookImageURL		bookImageURL3
				 , b3.bookname			bookname3
				 , b3.authors			authors3
				 , b3.publisher			publisher3
				 , b3.publication_year	publicationYear3
		FROM	 chat_data cd
						INNER JOIN book b
				 ON cd.picked_book = b.book_isbn13
				 		INNER JOIN book b1
				 ON cd.recommanded_book1 = b1.book_isbn13
				 		INNER JOIN book b2
				 ON cd.recommanded_book2 = b2.book_isbn13
				 		INNER JOIN book b3
				 ON cd.recommanded_book3 = b3.book_isbn13
		WHERE	 cd.chat_number=#{chatNumber}
	</select>
	
	<!-- *** INSERT  *********************************************************** -->
	<!-- 채팅 기록 입력 -->
	<insert id="write"
			parameterType="ChatData">
		INSERT INTO chat_data(
						chat_number
						, member_id
                        , recommanded_book1
                        , recommanded_book2
                        , recommanded_book3
                        , picked_book
                        , emotion
                        , chat_data_date
					)
		VALUES(
			#{chatNumber}
			, #{memberId}
            , #{recommandedBook1}
            , #{recommandedBook2}
            , #{recommandedBook3}
            , #{recommandedBook1}
            , #{emotion}
            , now()
		)
	</insert>

	<!-- *** UPDATE  *********************************************************** -->
	<!-- 추천받은 책 중 사용자가 선택한 책 입력 -->
	<update id="pickBook"
			parameterType="hashmap">
		UPDATE	chat_data
		SET		picked_book=#{bookIsbn13}
		WHERE	chat_number=#{chatNumber}
	</update>
	
</mapper>