<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ***************************** dao interface 경로+이름 -->
<mapper namespace="com.example.userdao.UserLibraryDAO">

	<!-- *** SELECT *********************************************************** -->
    <!-- 추천 사용자 목록 -->
    <select id="recommendBookshelf"
            parameterType="String"
            resultType="hashmap">
        SELECT  u.member_id               memberId
                , u.member_nickname       memberNickname
                , u.member_visit_agree    memberVisitAgree
                , u.member_img            memberImg
                , r.recommanding_id       recommandingId
                , r.recommanding_title    recommandingTitle
                , r.recommanding_tag      recommandingTag
                , r.book_isbn1            bookIsbn1
                , b.bookname              bookname
                , b.bookImageURL          bookImageURL
        FROM    user u
                    INNER JOIN recommanding r
                ON u.member_id = r.member_id
                    INNER JOIN book b
                ON r.book_isbn1 = b.book_isbn13
        WHERE   u.member_id IN (${joinedId})
                AND r.recommanding_book_no1 = 1
    </select>

    <!-- 로그인한 사용자와 비슷한 연령대인 사용자 랜덤 추출 -->
    <select id="ageBookshelf"
            parameterType="String"
            resultType="hashmap">
        SELECT  u.member_id               memberId
                <!-- , u.member_nickname       memberNickname
                , u.member_visit_agree    memberVisitAgree
                , u.member_img            memberImg
                , r.recommanding_id       recommandingId
                , r.recommanding_title    recommandingTitle
                , r.recommanding_tag      recommandingTag
                , r.book_isbn1            bookIsbn1
                , b.bookname              bookname
                , b.bookImageURL          bookImageURL -->
        FROM    user u
                    <!-- INNER JOIN recommanding r
                ON u.member_id = r.member_id
                    INNER JOIN book b
                ON r.book_isbn1 = b.book_isbn13 -->
        WHERE	YEAR(member_birthday)
                    BETWEEN (SELECT	(YEAR(member_birthday)-5)
                             FROM	user
                             WHERE 	member_id=#{memberId})
                        AND	(SELECT	(YEAR(member_birthday)+5)
                             FROM	user
                             WHERE 	member_id=#{memberId})
                <!-- AND r.recommanding_book_no1 = 1 -->
                AND u.member_id != #{memberId}
        <!-- ORDER BY RAND() -->
        LIMIT    12
    </select>

    <!-- 연령대별 책장 -->
    <select id="chooseAgeBookshelf"
            parameterType="String"
            resultType="hashmap">
        SELECT  u.member_id               memberId
                , u.member_nickname       memberNickname
                , u.member_visit_agree    memberVisitAgree
                , u.member_img            memberImg
                , r.recommanding_id       recommandingId
                , r.recommanding_title    recommandingTitle
                , r.recommanding_tag      recommandingTag
                , r.book_isbn1            bookIsbn1
                , b.bookname              bookname
                , b.bookImageURL          bookImageURL
        FROM    user u
                    INNER JOIN recommanding r
                ON u.member_id = r.member_id
                    INNER JOIN book b
                ON r.book_isbn1 = b.book_isbn13
        <where>
            <choose>
                <when test="selectedAge == 10">
                    <![CDATA[YEAR(now()) - YEAR(member_birthday) + 1 < 20]]>
                </when>
                <when test="selectedAge == 20">
                    <![CDATA[YEAR(now()) - YEAR(member_birthday) + 1 BETWEEN 20 AND 29]]>
                </when>
                <when test="selectedAge == 30">
                    <![CDATA[YEAR(now()) - YEAR(member_birthday) + 1 BETWEEN 30 AND 39]]>
                </when>
                <when test="selectedAge == 40">
                    <![CDATA[YEAR(now()) - YEAR(member_birthday) + 1 BETWEEN 40 AND 49]]>
                </when>
                <when test="selectedAge == 50">
                    <![CDATA[YEAR(now()) - YEAR(member_birthday) + 1 BETWEEN 50 AND 59]]>
                </when>
                <otherwise>
                    <![CDATA[YEAR(now()) - YEAR(member_birthday) + 1 >= 60]]>
                </otherwise>
            </choose>
        </where>
    </select>

    <!-- 랭킹 책장에 보여질 유저 추출 -->
    <select id="getRanker"
            resultType="hashmap">
        SELECT	 l.liked_element            likedElement
        FROM 	 user u
                    INNER JOIN liked l
                 ON u.member_id = l.member_id 
        WHERE	 l.liked_type='user'
        GROUP BY l.liked_element
        ORDER BY count(l.liked_element) DESC
        LIMIT	 12
    </select>

    <!-- 랭킹 책장 -->
    <select id="rankingBookshelf"
            parameterType="String"
            resultType="hashmap">
        SELECT  u.member_id               memberId
                , u.member_nickname       memberNickname
                , u.member_visit_agree    memberVisitAgree
                , u.member_img            memberImg
                , r.recommanding_id       recommandingId
                , r.recommanding_title    recommandingTitle
                , r.recommanding_tag      recommandingTag
                , r.book_isbn1            bookIsbn1
                , b.bookname              bookname
                , b.bookImageURL          bookImageURL
        FROM    user u
                    INNER JOIN recommanding r
                ON u.member_id = r.member_id
                    INNER JOIN book b
                ON r.book_isbn1 = b.book_isbn13
        WHERE   u.member_id IN (${joinedId})
                AND r.recommanding_book_no1 = 1
    </select>

</mapper>