<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ***************************** dao interface 경로+이름 -->
<mapper namespace="com.example.userdao.UserRecordDAO">

	<!-- *** SELECT *********************************************************** -->
	<!-- 한 명의 사용자가 작성한 모든 독서 기록 출력 -->
	<select id="selectByUser"
			parameterType="String"
			resultType="hashmap">
		SELECT	 r.record_book_num		recordBookNum
				 , r.record_book_time	recordBookTime
				 , r.member_id			memberId
				 , r.book_isbn13		bookIsbn13
				 , b.bookname			bookname
		FROM	 record r INNER JOIN book b
						ON r.book_isbn13 = b.book_isbn13
		WHERE	 r.member_id=#{memberId}
		ORDER BY r.record_book_time DESC
	</select>
	
	<!-- 특정 기록 내용 출력 -->
	<select id="selectByNum"
			parameterType="String"
			resultType="RecordDTO">
		SELECT	r.record_book_num		recordBookNum
				, r.record_book_content	recordBookContent
				, r.record_book_score	recordBookScore
				, r.record_book_time	recordBookTime
				, r.record_book_tag1	recordBookTag1
				, r.member_id			memberId
				, r.book_isbn13			bookIsbn13
				, b.bookname			bookname
		FROM	record r INNER JOIN book b
						ON r.book_isbn13 = b.book_isbn13
		WHERE	record_book_num=#{recordBookNum}
	</select>
	
	<!-- *** INSERT  *********************************************************** -->
	<!-- 사용자의 독서 기록 입력 -->
	<insert id="write"
			parameterType="RecordDTO">
		INSERT INTO record(
						record_book_content
						, record_book_score
						, record_book_time
						, record_book_tag1
						, member_id
						, book_isbn13
					)
		VALUES(
			#{recordBookContent}
			, #{recordBookScore}
			, now()
			, #{recordBookTag1}
			, #{memberId}
			, #{bookIsbn13}
		)
	</insert>
	
	<!-- *** UPDATE  *********************************************************** -->
	<!-- 사용자의 독서 기록 수정 -->
	<update id="update"
			parameterType="RecordDTO">
		UPDATE	record
		SET		record_book_content=#{recordBookContent}
				, record_book_score=#{recordBookScore}
				, record_book_tag1=#{recordBookTag1}
		WHERE	record_book_num=#{recordBookNum}
	</update>
	
	<!-- *** DELETE  *********************************************************** -->
	<!-- 사용자의 독서 기록 삭제 -->
	<delete id="delete"
			parameterType="String">
		DELETE
		FROM	record
		WHERE	record_book_num=#{recordBookNum}
	</delete>
	
</mapper>